:root {
  --light-red: #fcc;
  --middle-red: #ff7a7a;
  --dark-red: #f00;
  --black: #000;
  --white: #fff;
  --green: #6fbb3f;
  font: 400 16px 'Righteous', cursive;
  color: var(--black);
}

.grid {
  display: grid;
  place-items: center center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--middle-red);
}

#card {
  width: 50vmax;
  height: 50vmax;
  background: var(--white);
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.content { 
  width: 100%;
  height: 85%;
  position: absolute; 
} 

#content-1 { z-index: 2; }
#content-2 { z-index: 3; }
.content-3 { z-index: 4; }
.content-4 { z-index: 5; }
.content-5 { z-index: 6; }

#error-art {
  width: 90%;
  height: 60%;
  grid-template-rows: repeat(3, 1fr);
}

#tooltip {
  width: 80%;
  height: 100%;
  max-width: 400px;
  background: var(--light-red);
  border-radius: 20px 0 20px 0;
  position: relative;
}

#tooltip::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 50%;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  border-color: var(--light-red) transparent transparent transparent;
}

#tooltip span {
  font-size: 1.75rem;
  letter-spacing: 3px;
  color: var(--dark-red);
}

#error-type {
  width: 100%;
  height: 50%;
  align-self: end;
}

.error-number {
  font-size: 2.875rem;
  color: var(--dark-red);
}

#ladybug {
  width: 8vmax;
  height: 8vmax;
  max-width: 70px;
  max-height: 70px;
  position: relative;
  z-index: 1;
}

#ladybug::before {
  content: "";
  width: 30%;
  height: 20%;
  background: var(--black);
  border-radius: 50% 50% 0 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

#ladybug>div {
  width: 80%;
  height: 80%;
  background: var(--dark-red);
  border-radius: 50%;
  position: absolute;
  z-index: 3;
}

#ladybug>div::before {
  content: "";
  width: 0;
  height: 100%;
  border: 1px solid var(--black);
  background: var(--black);
  position: absolute;
}

.spot {
  width: 20%;
  height: 20%;
  background: var(--black);
  border-radius: 50%;
  position: absolute;
}

.spot:first-child, 
.spot:nth-child(4) { left: 20%; }

.spot:nth-child(2), 
.spot:last-child { right: 20%; }

.spot:nth-child(4), 
.spot:last-child { top: 70%; }

.spot:first-child { top: 10%; }

.spot:nth-child(2) { top: 10%; }

.spot:nth-child(3) {
  top: 40%;
  left: 40%;
}

#error-art p {
  font-size: 1.3125rem;
  color: var(--dark-red);
  align-self: end;
}

#content-1>p { font-size: 1.0625rem; }

.button {
  width: 60%;
  height: 20%;
  max-width: 187px;
  border-radius: 6px;
  cursor: pointer;
  animation: btn-background 2s infinite alternate; 
}

@keyframes btn-background {
  from { background: var(--light-red); }
  to { background: var(--middle-red); }
}

.explanation {
  width: 85%;
  height: 67%;
  line-height: 1.5rem;
  font-size: 1.125rem;
  text-align: center;
}

.highlight-warn { color: var(--dark-red); }
.highlight-fun { color: var(--middle-red); }

#btn-what>span>span { font-style: italic; }

#reasons li, 
#solutions li {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1.5625rem;
}

.icon-error, .icon-check {
  position: absolute;
  left: 0;
  width: 3vmax;
  height: 3vmax;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}

.icon-error { background: var(--dark-red); }

.icon-check { background: var(--green); }

.icon-error::before, 
.icon-error::after {
  content: "";
  position: absolute;
  width: 12%;
  height: 65%;
  background: var(--white);
  border-radius: 5px;
  transform: rotate(45deg);
}

.icon-error::before { transform: rotate(45deg); }

.icon-error::after { transform: rotate(-45deg); }

.icon-check::before,
.icon-check::after {
  content: "";
  position: absolute;
  width: 12%;
  background: var(--white); 
  border-radius: 5px;
}

.icon-check::before {
  bottom: 23%;
  left: 25%;
  height: 35%;
  transform: rotate(-40deg);
}

.icon-check::after {
  right: 35%;
  height: 56%;
  transform: rotate(45deg);
}

#social-icons {
  width: inherit;
  height: 40%;
  background: var(--light-red);
  border-radius: 20px 0 20px 0;
} 

#social-icons a {
  display: inline-block;
  width: 20%;
  height: 72%;
  max-width: 55px;
  max-height: 65px;
  position: relative;
}

.bi {
  position: absolute;
  top: 20%;
  transform: translateX(-50%);
  animation: icon-jump .8s infinite alternate;
}

@keyframes icon-jump { to { top: 0; } }

#social-icons a:not(:last-child) { margin-right: .625rem; }

.bi { font-size: 2rem; }

.bi-pinterest { color: #e60023; }

@media screen and (min-width: 642px) {
  #card {
    width: 50%;
    height: 70%;
  }

  .content {
    width: 100%;
    height: 90%;
  }

  #tooltip span { font-size: 2.5rem; }

  .error-number { font-size: 4.2rem; }

  #error-art p { font-size: 2.1875rem; }

  #content-1>p { font-size: 1.5625rem; }

  .button { font-size: 1.25rem; } 

  .explanation {
    font-size: 3vw;
    line-height: 2.5rem;
  }

  #reasons li, #solutions li { padding-left: 2.5rem;}

  .bi { font-size: 3.125rem; }
}

@media screen and (min-width: 1300px) {
  .explanation {
    font-size: 2.5vw;
    line-height: 3.4375rem;
  }
} 